{{- if (includeTemplate "helpers/is_native_unix_like.tmpl" .) | trim | eq "true" -}}
[".config/kitty/themes"]
  type = "archive"
  url = "https://github.com/kovidgoyal/kitty-themes/archive/master.tar.gz"
  stripComponents = 2
  include = ["*/themes/**"]

{{ end -}}

{{- if (eq .chezmoi.os "windows") -}}
["AppData/Roaming/alacritty/themes"]
{{- else -}}
[".config/alacritty/themes"]
{{- end }}
  type = "archive"
  url = "https://github.com/alacritty/alacritty-theme/archive/master.tar.gz"
  exact = true
  stripComponents = 2
  include = ["*/themes/**"]

[".config/lsd/colors.yaml"]
  type = "archive-file"
  url = "https://github.com/catppuccin/lsd/archive/main.tar.gz"
  path = "lsd-main/themes/catppuccin-mocha/colors.yaml"

{{ if (eq .chezmoi.os "windows") -}}
["AppData/Roaming/scooter/themes"]
{{- else -}}
[".config/scooter/themes"]
{{- end }}
  type = "archive"
  url = "https://github.com/catppuccin/bat/archive/main.tar.gz"
  stripComponents = 2
  include = ["*/themes/**"]

[".config/lazygit/themes"]
  type = "archive"
  url = "https://github.com/catppuccin/lazygit/archive/main.tar.gz"
  stripComponents = 2
  include = ["*/themes-mergable/**"]

{{ if or (eq .chezmoi.os "darwin") (eq .chezmoi.os "linux") -}}
[".config/fzf/fzf-git.sh"]
    type = "file"
    url = "https://raw.githubusercontent.com/junegunn/fzf-git.sh/refs/heads/main/fzf-git.sh"
    refreshPeriod = "168h"
{{- end }}
