{{- if (eq .chezmoi.os "windows") -}}
[cd]
    command = "pwsh"
    args = ["-NoLogo"]

{{ end -}}

[diff]
{{- if eq .chezmoi.os "windows" }}
    command = "{{ .chezmoi.sourceDir }}/.helpers/win-chezmoi-diff-delta-compat.bat"
{{- else }}
    command = "delta"
    args = ["--paging=never", "--line-numbers"]
{{- end }}
