{{- if eq .chezmoi.os "windows" -}}
[cd]
    command = "pwsh"
    args = ["-NoLogo"]

{{ end -}}

{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin") -}}
[diff]
    command = "delta"
    args = ["--paging", "never"]

{{ end -}}
