# For Personal Projects and/or Any OSS Related Contributions
# Private/Public Personal
[includeIf "gitdir:~/Projects/personal/"]
	path = ~/.gitconfig-personal
# Open-Source Contributions
[includeIf "gitdir:~/Projects/contribute/"]
	path = ~/.gitconfig-personal
# Password Store (GnuPG Encrypted)
[includeIf "gitdir:~/.password-store/"]
	path = ~/.gitconfig-personal
# Homebrews
[includeIf "gitdir:/usr/local/Homebrew/Library/Taps/"]
	path = ~/.gitconfig-personal

# For Organization (Private) or Work Related Contributions
[includeIf "gitdir:~/Projects/work/"]
	path = ~/.gitconfig-work

[core]
	excludesfile = ~/.gitignore_global
	pager = delta

[interactive]
    diffFilter = delta --color-only

[delta]
    navigate = true    # use n and N to move between diff sections
    # side-by-side = true

    # delta detects terminal colors automatically; set one of these to disable auto-detection
    # dark = true
    # light = true

[diff]
	colorMoved = default
	submodule = log
	tool = meld
	guitool = meld
[difftool]
	prompt = false
[difftool "sourcetree"]
	cmd = opendiff \"$LOCAL\" \"$REMOTE\"
	path = 
[difftool "meld"]
	trustExitCode = true
	cmd = open -W -a /Applications/Meld.app/Contents/MacOS/Meld --args \"$LOCAL\" \"$REMOTE\"

[merge]
	conflictstyle = diff3
	tool = meld
[mergetool "sourcetree"]
	cmd = /Applications/Sourcetree.app/Contents/Resources/opendiff-w.sh \"$LOCAL\" \"$REMOTE\" -ancestor \"$BASE\" -merge \"$MERGED\"
	trustExitCode = true
[mergetool "meld"]
	trustExitCode = true
	cmd = open -W -a /Applications/Meld.app/Contents/MacOS/Meld --args --auto-merge \"$LOCAL\" \"$BASE\" \"$REMOTE\" --output=\"$MERGED\"
[mergetool]
	prompt = false

[commit]
	template = ~/.stCommitMsg

[filter "lfs"]
	clean = git-lfs clean -- %f
	smudge = git-lfs smudge -- %f
	process = git-lfs filter-process
	required = true

[status]
	submoduleSummary = true

[alias]
	spush = push --recurse-submodules=on-demand
	lg1 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold green)(%ar)%C(reset) %C(white)%s%C(reset) %C(dim white)- %an%C(reset)%C(bold yellow)%d%C(reset)' --all
	lg2 = log --graph --abbrev-commit --decorate --format=format:'%C(bold blue)%h%C(reset) - %C(bold cyan)%aD%C(reset) %C(bold green)(%ar)%C(reset)%C(bold yellow)%d%C(reset)%n''          %C(white)%s%C(reset) %C(dim white)- %an%C(reset)' --all
	tlog = !"git lg1"
	tree = forest --pretty=format:\"%C(red)%h %C(magenta)(%ar) %C(blue)%an %C(reset)%s\" --style=15 --reverse

# [url "git@github.com:"]
# 	insteadOf = https://github.com/

[credential]
	helper = 
	helper = /usr/local/share/gcm-core/git-credential-manager
[credential "https://dev.azure.com"]
	useHttpPath = true
[safe]
	bareRepository = explicit
