[submodule "external/alacritty-theme"]
	path = external/alacritty/alacritty-theme
	url = https://github.com/alacritty/alacritty-theme.git
[submodule "external/catppuccin/lsd"]
	path = external/catppuccin/lsd
	url = https://github.com/catppuccin/lsd.git
[submodule "external/dracula/lsd"]
	path = external/dracula/lsd
	url = https://github.com/dracula/lsd.git
[submodule "external/catppuccin/bat"]
	path = external/catppuccin/bat
	url = https://github.com/catppuccin/bat.git
[submodule "external/kovidgoyal/kitty-themes"]
	path = external/kovidgoyal/kitty-themes
	url = https://github.com/kovidgoyal/kitty-themes.git
