# Distributed Example for `.secrets` File

# Github API Token
#
# Used for ASDF
export GITHUB_API_TOKEN="####"
# Used for Docker Version Manager
export GITHUB_TOKEN=${GITHUB_API_TOKEN}
# Used for Homebrew
export HOMEBREW_GITHUB_API_TOKEN=${GITHUB_API_TOKEN}

# OpenAI Tools
export OPENAI_API_KEY="####"

# Ollama Tools
export OLLAMA_SERVER=http://localhost:11434

# Atuin.sh
# Atuin `config.toml` Override
export ATUIN_SYNC_ADDRESS="http://0.0.0.0:8888"
export ATUIN_ENTER_ACCEPT=false

# Atuin `server.toml` Override
export ATUIN_HOST="0.0.0.0"
export ATUIN_PORT="8888"
export ATUIN_OPEN_REGISTRATION=true
export ATUIN_DB_URI="postgres://atuin:<your-pgsql-password>@localhost/atuin"
