{{ if eq .chezmoi.os "windows" -}}
# Configure the Windows "Documents" shell folder.
#
# This ensures PowerShell profiles resolve from:
#   %USERPROFILE%\Documents
#
# This script is intended to run once via chezmoi.

$registryPath = 'HKCU:\SOFTWARE\Microsoft\Windows\CurrentVersion\Explorer\User Shell Folders'
$name = 'Personal'
$value = '%USERPROFILE%\Documents'

$current = (Get-ItemProperty -Path $registryPath -Name $name -ErrorAction Stop).$name

if ($current -eq $value) {
    Write-Host "Windows Documents folder is already configured."
    return
}

Set-ItemProperty `
    -Path $registryPath `
    -Name $name `
    -Type ExpandString `
    -Value $value

Write-Host "Configured Windows Documents folder:"
Write-Host "  $name = $value"
{{- end }}
