// ~/zellij/layouts/default.kdl

ui {
  pane_frames {
    rounded_corners true
    hide_session_name true
  }
}

layout {
  pane size=1 borderless=true {
    plugin location="tab-bar"
  }
  pane
  pane split_direction="vertical" {
      pane
      pane command="htop"
  }
  pane size=2 borderless=true {
    plugin location="status-bar"
  }
}
