[tools]
{{- if or (eq .chezmoi.os "linux") (eq .chezmoi.os "darwin")}}
lua = "5.1.5"
{{- end }}
rust = "latest"
go = "latest"
node = "latest"
python = "latest"
argocd = "latest"
awscli = "latest"
eksctl = "latest"
helm-ct = "latest"
helm = "latest"
helmfile = "latest"
kind = "latest"
kompose = "latest"
krew = "latest"
kubeconform = "latest"
kubectl = "latest"
kubectx = "latest"
kubeval = "latest"
kustomize = "latest"
minikube = "latest"
packer = "latest"
terraform = "latest"
tilt = "latest"
opentofu = "latest"
