git:
  pagers:
{{- if eq .chezmoi.os "windows" }}
    - externalDiffCommand: "~/.config/lazygit/win-git-delta-compat.bat"
{{- else -}}
    - pager: delta --paging=never --line-numbers
      colorArg: always
{{- end }}

os:
  editPreset: "vscode"
