git:
  pagers:
{{- if eq .chezmoi.os "windows" }}
    - externalDiffCommand: "{{ .chezmoi.sourceDir }}/.win-compat-scripts/lazygit-diff-delta.bat"
{{- else }}
    - pager: delta --paging=never --line-numbers
      colorArg: always
{{- end }}

os:
  editPreset: "vscode"
