console_title_template = '{{ if eq .PWD "~" }}~{{ else }}{{ .Folder }}{{ end }}'
version = 3
final_space = true

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '{{ .Path }} '
    foreground = 'blue'
    background = 'transparent'
    type = 'path'
    style = 'plain'

    [blocks.segments.properties]
      cache_duration = 'none'
      style = 'agnoster_short'
      max_depth = 2
      truncate_to_unique = true
      # hide_root_location = true

  [[blocks.segments]]
    foreground_templates = [
      "{{ if or (.Working.Changed) (.Staging.Changed) }}yellow{{ end }}",
      "{{ if and (gt .Ahead 0) (gt .Behind 0) }}orange{{ end }}",
      "{{ if gt .Ahead 0 }}cyan{{ end }}",
      "{{ if gt .Behind 0 }}magenta{{ end }}"
    ]
    template = "{{.UpstreamIcon }} {{ .HEAD }}{{if .BranchStatus }} {{ .BranchStatus }}{{ end }}{{ if .Working.Changed }}  {{ .Working.String }}{{ end }}{{ if and (.Working.Changed) (.Staging.Changed) }}{{ end }}{{ if .Staging.Changed }}  {{ .Staging.String }}{{ end }}{{ if gt .StashCount 0 }}  {{ .StashCount }}{{ end }} "
    foreground = 'green'
    background = 'transparent'
    type = 'git'
    style = 'plain'

    [blocks.segments.properties]
      branch_icon = ' '
      branch_template = '{{ trunc 25 .Branch }}'
      fetch_status = true
      fetch_upstream_icon = true

  [[blocks.segments]]
    template = ' {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ if .Venv }} <#FFD43B>({{ .Venv }})</>{{ end }}{{ end }} '
    foreground = '#306998'
    type = 'python'
    style = 'plain'

    [blocks.segments.properties]
      display_mode = 'files'
      fetch_virtual_env = true

  [[blocks.segments]]
    foreground = "#6CA35E"
    template = " {{ .Full }} "
    type = "node"
    style = "plain"

  [[blocks.segments]]
    template = ' {{ if .Error }}{{ .Error }}{{ else }}{{ .Full }}{{ end }} '
    foreground = '#00acd7'
    type = 'go'
    style = 'plain'

    [blocks.segments.properties]
      fetch_version = true

  [[blocks.segments]]
    template = '{{ .FormattedMs }}'
    foreground = 'yellow'
    background = 'transparent'
    type = 'executiontime'
    style = 'plain'

    [blocks.segments.properties]
      cache_duration = 'none'
      threshold = 5000

[[blocks]]
  type = 'prompt'
  alignment = 'left'
  newline = true

  [[blocks.segments]]
    template = '❯'
    background = 'transparent'
    type = 'text'
    style = 'plain'
    foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

    [blocks.segments.properties]
      cache_duration = 'none'

# [transient_prompt]
#   template = '❯ '
#   background = 'transparent'
#   foreground_templates = ['{{if gt .Code 0}}red{{end}}', '{{if eq .Code 0}}magenta{{end}}']

[secondary_prompt]
  template = '❯❯ '
  foreground = 'magenta'
  background = 'transparent'
