{
  "$schema": "https://aka.ms/terminal-profiles-schema",
  "profiles": {
    "defaults": {
      "font": {
        "face": [
          "Cascadia Mono",
          "Symbols Nerd Font Mono"
        ]
      }
    }
  }
}
