[general]
  live_config_reload = true
{{- if (eq .chezmoi.os "windows") }}
  working_directory = "%USERPROFILE%"
  import = [
    "~/AppData/Roaming/alacritty/fonts.toml",
    "~/AppData/Roaming/alacritty/themes/github_dark_high_contrast.toml",
  ]
{{- else }}
  import = [
    "~/.config/alacritty/fonts.toml",
    "~/.config/alacritty/themes/github_dark_high_contrast.toml",
  ]
{{- end }}


[cursor]
  blink_interval = 550
  unfocused_hollow = false
  thickness = 0.15

  [cursor.style]
    blinking = "On"
    shape = "Block"

[selection]
  save_to_clipboard = true

[window]
  decorations = "Buttonless"
  dynamic_title = false
  opacity = 1.0
  dynamic_padding = true
  option_as_alt = "Both"

  [window.padding]
    x = 5
    y = 5

[scrolling]
  history = 10000
  multiplier = 3

[bell]
  animation = "Linear"
  duration = 0
  # command = { program = "paplay", args = ["/usr/share/sounds/freedesktop/stereo/dialog-error.oga"] }
  command = "None"

{{ if (eq .chezmoi.os "windows") -}}
[terminal]
  [terminal.shell]
    program = "pwsh"
    args = ["-NoLogo"]
{{- end -}}
